{% extends "base.html" %}

{% block app_content %}
    <div class="container-fluid">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" id="request">
      <dl>
        {{ render_field(form.ic_api_key) }}
        {{ render_field(form.month) }}
      </dl>
      <p><input type="submit" id="btnSubmit" value="submit">
    </form>
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
    $(document).ready(function () {
        $("#request").submit(function (e) {
            $("#btnSubmit").attr("disabled", true);
                toastr.options.positionClass = 'toast-top-center';
                toastr.options.timeOut = 0;
                toastr.success('Collecting Invoice Data...');
            return true;
        });
    });
    </script>
{% endblock %}
